@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.attendance-container{
    width: 100%;
    height: 100vh;
    max-width: 100% !important;
    max-height: 100vh !important;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,128,0,.5) 14%, rgba(255,255,255,.5) 50%, rgba(255,192,0,.5) 86%);
}
.attendance-container .attendance-header{
    background-color: #008000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 120px;
    padding: .5em 1em;
    position: relative;
}
.attendance-header .waves{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.attendance-header .logo{
    height: 100%;
    z-index: 2;
}
.attendance-header .logo img{
    height: inherit;
    z-index: 2;
}
.attendance-header .logo img{
    height: inherit;
    z-index: 2;
}
.logo.one{
    background-size: cover
    ;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.attendance-header .title {
    z-index: 2;
}
.attendance-header .title h1{
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 2px;
    color: #ffcc22;
    -webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: #d9d9d9;
    font-size: 3rem;
}
.attendance-container .attendance-content-wrapper{
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.attendance-content-wrapper form{
    width: 100%;
    height: 100%;
}
.attendance-content-wrapper .attendance-input-group{
    width: 500px;
    /* background-color: rgba(242, 242, 242, 30%);
    padding: 1em;
    border-radius: 3px; */
    position: relative;
}
.attendance-container .response{
    position: absolute;
    top: -60px;
    width: 100%;
    height: 50px;
    background-color: red;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid green;
    opacity: 0;
}
.response span{
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    /* color: green; */
}
.attendance-input-group .input-title{
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}
.input-title select{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #d2d2d2;
    border-top: 2px solid #008800;
    color: #333333;
}
.input-title select:focus{
    border-top: 2px solid #ffcc22;
}
.input-title select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.attendance-input-group .checkbox-time-group.active{
    display: none;
}
.attendance-input-group .checkbox-time-group{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.checkbox-time-group .checkbox-group{
    height: 100%;
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: 1px solid #cccc;
}
.checkbox-group span{
    font-weight: bold;
    font-size: .65rem;
    letter-spacing: .5px;
    margin-bottom: 5px;
}
.checkbox-group input{
    height: 20px;
    width: 20px;
    border: none;
    border: 1px solid red;
    outline: none;
}
.attendance-content-wrapper .input-attendance-id{
    width: 100%;
    opacity: 0;
    transition: opacity .2s ease-in;
}
.input-attendance-id input{
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.05rem;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: inset 0.05rem 0.05rem 0.3rem #cccc, inset -0.2rem -0.2rem 0.3rem #f2f2f2;
}
.input-attendance-id input:focus{
    border: 1.5px solid #008800;
}
.input-attendance-id input::-webkit-outer-spin-button,
.input-attendance-id input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.input-attendance-id button{
    width: 100%;
    min-height: 45px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFF;
    background-color: #008800;
    outline: none;
    border: none;
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    font-size: .8rem;
    color: #f2f2f2;
    visibility: hidden;
}
.input-attendance-id button:hover{
    background-color: #008000;
}

.attendance-content-wrapper .date-time-indicator{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008000;
}
.date-time-indicator span{
    font-weight: bold;
    color: #ffcc22;
    letter-spacing: 1px;
    font-size: 30px;
    -webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: #ffd54d;
}
@media screen and (max-width: 1200px){
    .attendance-header .title h1{
        font-size: 2.5rem;
    }
}