.content-body .dashboard-body{
    width: 100%;
    height: 100%;
    padding: 1em 0;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}
.dashboard-body .card-statistics{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.card-statistics .card{
    position: relative;
    width: calc(100% / 4);
    height: 100%;
    margin-right: 20px;
    border: 1.5px solid #e6e6e6;
    border-radius: 10px;
    background: #d9d9d9;
    background: -webkit-linear-gradient(135deg, #d9d9d9 0%, #f2f2f2 50%, #ffffff 100%);
    background: linear-gradient(135deg, #d9d9d9 0%, #f2f2f2 50%, #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    /* background-color: #f2f2f2; */
    border-top: 3.15px solid #088000;
    box-shadow: inset 0.05rem 0.05rem 0.4rem #e6e6e6, inset -0.2rem -0.2rem 0.5rem #fff;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.card-statistics .card:last-child{
    margin: 0;
}
.card .stats{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.stats p{
    letter-spacing: 1px;
    font-size: .85rem;
    margin-bottom: 5px;
    color: #808080;
    font-weight: bold;
    /* border-top: 1.5px solid rgba(0, 0, 0,5%); */
}
.stats span{
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #088000;
}
.card .icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon i{
    height: 55px;
    width: 55px;
    border-radius: 10px;
    background-color: #ffcc33;
    color: rgba(8, 128, 0, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    /* opacity: .8; */
}

/* CALENDAR */
.calendar {
    width: 100%;
    height: calc(100% - 100px);
}
.calendar .calendar-content{
    width: 100%;
    height: 100%;
}
button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #ffcc22;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #008800;
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  #weekdays div {
    width: calc(100% / 7);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 4px solid rgba(204, 204, 204, .3);
    border-radius: 3px; */
  }
  #calendar {
    width: 100%;
    height: calc(100% - 100px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: calc(100% / 7 - 10px);
    margin: 5px;
    padding: 10px;
    /* height: calc(100% / 6); */
    /* height: 75px; */
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #008800;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  @media screen AND (max-width: 500px){
    #weekdays div{
        width: calc(100% / 7);
        font-size: .4rem;
    }
    #calendar .day{
        margin: 3px;
        width: calc(100% / 7 - 6px);
        height: 40px;
        font-size: .5rem;
        padding: 5px;
    }
    #header {
        font-size: 1rem;
    }
    #header button{
        width: 30px;
        height: 20px;
        padding: 2px;
        border-radius: 2px;
    }
  }