.content-body .events-body{
    height: 100%;
    width: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-body .event-response{
    width: 350px;
    min-height: 50px;
    /* background-color: red; */
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    display: none;
}
.event-response span{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1rem;
}
.events-body .create-event{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-body .create-event form{
  width: 70%;
  min-height: 100%;
  background-color: #ffff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5em 1em;
}
.create-event .input-group{
    height: 70%;
    width: 37.5%;
    margin-right: 5px;
    position: relative;
}
.create-event .button-group{
    width: 25%;
    height: 70%;
}
.input-group span{
    position: absolute;
    top: -6px;
    left: 15px;
    font-size: .7rem;
    font-weight: bold;
    background-color: #FFF;
    letter-spacing: 1px;
    color: #ff6666;
}
.input-group input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0.05rem 0.05rem 0.4rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
    padding: .5em;
    text-align: center;
}
.input-group input:focus{
    border: 1px solid #088000;
}
.button-group button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #088000;
    border-radius: 3px;
    font-weight: bold;
    color: #FFF;
    font-size: .9rem;
    letter-spacing: 1px;
}
.button-group button:hover{
    background-color: #0a9900;
}
.events-body .event-table{
    width: 100%;
    max-height: calc(100% - 70px);
    background-color: #f2f2f2;
    margin-top: 10px;
    border-radius: 3px;
    overflow-y: auto;
}
.event-table .content-table{
    border-collapse: collapse;
    font-size: 0.7em;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    width: 100%;
    background-color: #FFF;
}
  .content-table thead tr {
    background-color: #DA932C;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: .8em;
  }
  .content-table th,
  .content-table td {
    padding: 12px 15px;
    text-align: center;
    letter-spacing: .8px;
  }
  /* .content-table th:first-child,
  .content-table td:first-child{
    width: 200px;
  }
  .content-table th:nth-child(2),
  .content-table td:nth-child(2){
    text-align: left;
  }
  .content-table th:nth-child(3),
  .content-table td:nth-child(3){
    width: 100px;
  }
  .content-table th:nth-child(4),
  .content-table td:nth-child(4){
    width: 140px;
  }
  .content-table th:nth-child(5),
  .content-table td:nth-child(5){
    width: 200px;
  }
  .content-table th:last-child,
  .content-table td:last-child{
    width: 90px;
  } */
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  .content-table tbody{
    border-bottom: 2px solid #ffcc33;
  }

  thead tr{
    position: sticky;
    top: 0;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
  }
  .content-table tbody tr{
    border-left: 1px solid #d9d9d9;
  }
  /* .content-table tbody {
    display: block;
    height: 300px;
    overflow-y: auto;
} */
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #e69900;
  }

  .table-wrapper{
    max-height: 500px;
    overflow-y: scroll;
  }
 input .eventstatuscheckbox{
  width: 40px;
  height: 40px;
}